<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.raghava.testapp" version="1.0.5">
    <name>Test</name>
    <description>Testing App</description>
    <author href="#" email="raghava.u@gmail.com">IT Professional</author>
    <content src="qrscan.html"/>
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="default"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="14"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="EnableViewportScale" value="true" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="StatusBarOverlaysWebView" value="false" /> 
    <preference name="StatusBarBackgroundColor" value="#ff6a00" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="com.joandilee.imeiplugin" source="pgb" spec="0.1" />
    <plugin name="com.phonegap.plugin.statusbar" source="pgb" spec="1.1.0" />
    <plugin name="com.phonegap.plugins.barcodescanner" source="pgb" spec="2.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.0" />
    <plugin name="io.litehelpers.cordova.sqlite" source="pgb" spec="0.7.10" />
    <plugin name="org.apache.cordova.battery-status" source="pgb" spec="0.2.12" />
    <plugin name="org.apache.cordova.camera" source="pgb" spec="0.3.6" />
    <plugin name="org.apache.cordova.console" source="pgb" spec="0.2.13" />
    <plugin name="org.apache.cordova.contacts" source="pgb" spec="0.2.16" />
    <plugin name="org.apache.cordova.device" source="pgb" spec="0.3.0" />
    <plugin name="org.apache.cordova.device-motion" source="pgb" spec="0.2.11" />
    <plugin name="org.apache.cordova.device-orientation" source="pgb" spec="0.3.11" />
    <plugin name="org.apache.cordova.dialogs" source="pgb" spec="0.3.0" />
    <plugin name="org.apache.cordova.file" source="pgb" spec="1.3.3" />
    <plugin name="org.apache.cordova.file-transfer" source="pgb" spec="0.5.0" />
    <plugin name="org.apache.cordova.geolocation" source="pgb" spec="0.3.12" />
    <plugin name="org.apache.cordova.globalization" source="pgb" spec="0.3.4" />
    <plugin name="org.apache.cordova.inappbrowser" source="pgb" spec="0.6.0" />
    <plugin name="org.apache.cordova.media" source="pgb" spec="0.2.16" />
    <plugin name="org.apache.cordova.media-capture" source="pgb" spec="0.3.6" />
    <plugin name="org.apache.cordova.network-information" source="pgb" spec="0.2.15" />
    <plugin name="org.apache.cordova.splashscreen" source="pgb" spec="1.0.0" />
    <plugin name="org.apache.cordova.vibration" source="pgb" spec="0.3.13" />
    <plugin name="io.litehelpers.cordova.sqlite" source="pgb" />
    <plugin name="com.joandilee.imeiplugin" source="pgb" />
    <plugin name="cordova-plugin-whitelist" />
    <icon src="icon.png"/>
    <splash src="splash.png" />
    <gap:splash src="www/res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
    <gap:splash src="www/res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
    <gap:splash src="www/res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
    <gap:splash src="www/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <feature name="SmsPlugin">
    <param name="android-package" value="com.applegrew.cordova.android.plugin.sms.SmsPlugin" />
    </feature>
    <platform name="android">
    <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
    </platform>
    <!--<platform name="winphone" />-->
</widget>